
.heading{
    font-size: 23px;
    width: 100%;
    margin :0px;
    box-shadow: 5px 5px 5px rgb(136, 134, 134);
}

.note{
    font-size: 15px;
    color: rgb(248, 44, 44);
}

.copy_right_footer{
    position: fixed;
    color: rgb(240, 13, 191);
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 236, 94);
    line-height: 3;
    text-align: center;
}

canvas{
    border: 3px;
    box-shadow: 5px 5px 5px grey;
    margin :5px;
    padding: 5px;
}